Bio==1.8.0
biopython==1.85
h5py==3.13.0
joblib==1.4.2
lightgbm==4.6.0
mamba_ssm==2.2.4
matplotlib==3.10.3
numpy==2.2.5
pandas==2.2.3
ray==2.44.1
scikit_learn==1.6.1
scipy==1.15.3
seaborn==0.13.2
shap==0.47.2
shap_select==0.1.0
torch==2.5.1+cu124
tqdm==4.66.2
transformers==4.48.1
umap==0.1.1
umap_learn==0.5.7
xgboost==3.0.0
